.songlists-title {
  width: 3.2rem;
  margin: .6rem auto 0 auto;
  overflow: hidden;
}

.songlists-avater {
  float: left;
  width: 1rem;
  height: 1rem;
  margin-right: .2rem;
}

.songlists-avater img {
  width: 100%;
  height: 100%;
}

.songlists-name {
  float: left;
  width: 2rem;
  font-size: .18rem;
  font-weight: bold;
  overflow: hidden;
}

.songlists-author {
  margin-top: .2rem;
  overflow: hidden;
}

.author-avater {
  display: block;
  float: left;
  width: .25rem;
  height: .25rem;
  border-radius: 50%;
  margin-right: .15rem;
  background: url('http://p1.music.126.net/W8qT3N7hxEadFO3PS1vWRA==/19229358858621885.jpg?param=40y40') no-repeat center;
}

.author-name {
  display: block;
  float: left;
  font-size: .14rem;
  font-weight: normal;
  height: .25rem;
  line-height: .25rem;
  vertical-align: middle;
}