.ranklists {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0.6rem;
}
.ranklists .ranklists ul {
  height: 100%;
  position: fixed;
  top: 0.6rem;
  bottom: 0;
  background-color: #fff;
  overflow: scroll;
}
.ranklists .ranklists ul .ranklist {
  height: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.ranklists .ranklists ul .ranklist .rank-cover {
  width: 1rem;
  height: 1rem;
}
.ranklists .ranklists ul .ranklist .rank-cover img {
  width: 100%;
  height: 100%;
}
