.ranklists{
  width:100%;
  height:100%;
}
.ranklists ul{
  position: fixed;
  top:0.6rem;
  background:#fff;
  width:100%;
  overflow: scroll;
  left: 0;
  right: 0;
  bottom: 0;
}
.ranklist{
  width:100%;
  float: left;
  border-bottom:1px solid #ddd;
}
.rank-cover{
  width:28%;
  float: left;
}
.rank-cover img{
  width:100%;
  height:100%;
}
.rank-hot {
  margin-left:2%;
  width: 70%;
  float: left;
}
.rank-hot p{
  line-height:.2rem;
  padding:.08rem;
}