.songlists-detail {
  width: 100%;
  padding: .1rem 0;
}

.songlists-detail ul {
  width: 100%;
  display: flex;
}

.songlists-detail ul li {
  height: .36rem;
  line-height: .36rem;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.songlists-detail ul li i {
  font-size: .24rem;
}