.songlists-bar {
  height: .36rem;
  line-height: .36rem;
  text-align: center;
  vertical-align: middle;
  padding: 0 .2rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.bar {
  display: flex;
  align-items: center;
}

.bar i {
  font-size: .2rem;
}

.songlists-bar-left {
  font-size: .16rem;
}

.songlists-bar-left i {
  font-size: .24rem;
}