.header{
    width: 100%;
    height: .65rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ff1d49;
    z-index: 100;
}

.headerBox .inputBox{
    position: absolute;
    left:.55rem;
    top: .2rem;
    width: 2.4rem;
    height: .3rem;
    border: 1px solid #808a99 ;
    border-radius: .3rem;
    font-size: .14rem;
    padding-left: .2rem;
    color:#808a99 ;
}
.headerBox i{
    position: absolute;
    right: .8rem;
    top:.28rem;
    font-size: .17rem;
}
.icon-geren7{
    position: absolute;
    top:.2rem;
    font-size:.26rem;
    color: white;
    left: .08rem;
}

.icon-yinle{
    position:absolute;
    top:.2rem;
    font-size:.26rem;
    color: white;
    right: .1rem;
}
