.cover{
  padding:.2rem .1rem;
  display:flex;
  margin-top:.6rem;
  justify-content:center;
  background-color:#bbb;
}
.cover-img{
  width:1rem;
  height:1rem;
  display:flex;
  align-items:center;
}
.cover-img img{
   width:100%;
   height:100%;
 }
.cover-title{
  display:flex;
  padding:0 .15rem;
  align-items:center;
}

.classification{
  width:100%;
  height:.4rem;
  margin:.15rem 0;
  background-color:#fff;
}
.classification span{
  height:.4rem;
  line-height:.4rem;
  padding:5px;
  text-align:center;
  border:1px solid #ddd;
  border-radius:.2rem;
  margin-left:.2rem;
}
