.home-header{
    position: fixed;
    left:0;
    top:0;
    height:0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background: red;
}
.home-header i{
    font-size:0.25rem;
}
.home-header .personal{
    padding-left:0.2rem;
}
.home-header .search{
    padding-right:0.2rem;
}