#logo{
    margin-bottom: 50px;
}

#logo i {
    font-size: 100px;
    color: #e0e0e0;
    opacity: .8;
}

.logor{
    width: 100%;
    height: 40px;
}
.login_btn{
    margin: 10px auto;
    width: 90%;
    display: block;
    padding: 11px 0 ;
    background: #ffffff;
    border: 0;
    font-size: 15px;
    color:#374782;
    -webkit-box-shadow: #8f9bad 0px 0px 20px;
    -moz-box-shadow: #8f9bad 0px 0px 20px;
    box-shadow: #8f9bad 0px 0px 20px;
    text-align: center;
}
.other_login{
    width: 80%;
    height: 15px;
    position: absolute;
    top:75%;
    margin: 0 10%;
}
.other_login .other,.other_login span{
    display: inline-block;
    vertical-align: middle;
}
.other_login .other{
    width: 28%;
    height: 8px;
    border-bottom:1px solid #2f2c59;
}
.other_login span{
    width:40%;
}
.other_choose{
    width: 74%;
    top:83.5%;
    position: absolute;
    margin: 0 13%;
}
.other_choose i{
    font-size: 30px;
    color: #cacaca;
    position: absolute;
    top: 10px;
    left: 10px;
}
.login_bg .other_choose a{
    display: block;
    float: left;
    border: 2px solid #505887;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
}
.other_choose a:nth-child(2) {
    left:42%;
}
.other_choose a:nth-child(3) {
    left:80%;
}
.other_choose a img{
    width: 60%;
    padding: 14% 0;
}

