.songlists {
  width: 100%;
  background-color: #fff;
  overflow-y: scroll;
  height:40%;
}

.songlists ul {
  padding: 0 .12rem;
  overflow-y: scroll;
}

.songlists ul li {
  border-top: 1px solid #ddd;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.songlist-left{
  line-height: .6rem;
  margin-right: .1rem;
}
.songlist {
  display: block;
  width: 2.8rem;
}

.songlist p {
  height: .3rem;
  line-height: .3rem;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.songlist-name {
  font-size: .18rem;
}

.songlist-icon {
  line-height: .6rem;
}

.songlist-icon i {
  font-size: .3rem;
}