.music-progress{
    display: flex;
    width: 95%;
    height: 0.6rem;
    position: absolute;
    left: 0.1rem;
    bottom: 1.3rem;;
    z-index: 4;
}

.current,.duration{
    text-align: center;
    width: 0.7rem;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.2rem;
    z-index: 4;

}
.timeLine{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 0.04rem;
    background-color: #7ebaff;
    margin-top: 0.29rem;
}
.timeLine .span{
    position: absolute;
    width: 0;
    height: 0.04rem;
    background-color: #82cc98;
    transition: linear 1s;
    transition-property:all;
}

