.header{
    height:0.4rem;
    position: fixed;
    top: 0.6rem;
    left:0;
    display: flex;
    justify-content: space-between;
    /*flex-direction: column;  !*竖向排布*!*/

    width:100%;
    background: red;

}
.header span{

}