<<<<<<< HEAD
*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
}
html{
    font-size:100px;
}
li{
    list-style: none;
=======
@import "//at.alicdn.com/t/font_0wqykoshvsd1jor.css";
// reset

html,
body {
    height: 100%;
    width: 100%;
    background-color: #fff;

}
a{
    text-decoration: none;
}
ul,li{
    list-style:none;
>>>>>>> 73f1b2599377f2aef89193733d9a0ee622a748fd
}
img{
    border: none;
}
a{
    text-decoration: none;
}

