.play-listBg{
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    bottom:0;
    background: #565656;

}
.play-listBgMark{
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    bottom:0;
    background-color: #586351;
    opacity: 0.8;
    z-index: 6;
}

.play-list{
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    height: 3rem;
    z-index: 7;
    background: #ffffff;

}
.play-listHead{
    width:100%;
    height: 0.49rem;
    position:absolute;
    left:0;
    top: 0;
    border-bottom: 1px solid #cccccc;
    z-index: 8;
}
.play-listHead span{

}
.play-listHead .play-listName{
    margin-left: 0.2rem;
    width:100%;
    height: 0.5rem;
    line-height: 0.5rem;
    font-size: 0.2rem;
    color: #ffffff;

}
.play-listHead .play-listName span{
    margin-left: 0.1rem;
}
.play-listHead .play-listClear{
    position: absolute;
    right:0.2rem;
    top: 0.1rem;
    font-size: 0.28rem;
    color: #bcbcbc;

}
.play-listBody{
    width:100%;
    height: 2rem;
    position:absolute;
    left:0;
    top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 8;
}
::-Webkit-scrollbar{
    display: none;
}
.play-listBody .play-listContent{
    width:100%;
    height:0.39rem;
    text-align: left;
    line-height: 0.4rem;
    font-size: 0.17rem;
    border-bottom: 1px solid #cccccc;
}
.play-listBody .play-listContent span{
    margin-left: 0.2rem;
}
.play-listBody .play-listContent span:nth-child(1){
    font-size: 0.18rem;
    color: #fff;
}
.play-listBody .play-listContent span:nth-child(2){
margin-left: 0.34rem;
    color: #b7b7b7;
}
.play-listBody .play-listContent span:nth-child(3){
    margin-left: 0.1rem;
    font-size: 0.15rem;
    color: #b7b7b7;
}
.play-listBody .play-listContent .play-listDel{
    width:0.3rem;
    height: 0.3rem;
    text-align: center;
    float: right;
    margin-left: 0;
    margin-right: 0.2rem;
    font-size: 0.2rem;
    color: #b7b7b7;
}
.play-listFooter{
    width:100%;
    height: 0.49rem;
    position:fixed;
    left:0;
    bottom:0;
    z-index: 8;
    border-top:1px solid #cccccc;
    text-align: center;
    line-height:0.49rem;
    font-size: 0.2rem;
    color: #f0f0f0;
}
.play-listFooter .play-off{

}