.home-tab{
    position: fixed;
    bottom:0;
    left:0;
    height:0.6rem;
    width:100%;
    border-top:1px solid #555;
}

.home-tab .tab-content{
    float: left;
}
.home-tab .tab-icon{
    float: right;
    height:0.6rem;
    width:30%;
}
.tab-icon .tab-play,.tab-list{
    float: right;
    height:0.6rem;
    line-height:0.6rem;
}
.tab-play i,.tab-list i{
    font-size:0.25rem;
    margin-left:0.2rem;
}
.tab-list{
    height:0.6rem;
    margin-right:0.1rem;
}

.tab-content div{
    float: left;
}
.tab-image{
    height:0.5rem;
    width:0.5rem;
    padding:0.05rem;
}
.tab-image image{
    width:100%;
    height:100%;
}
.tab-content{
    height:0.6rem;
    margin-left:0.05rem;
}

.tab-content p:nth-child(1){
    font-size:0.16rem;
    margin-top: 0.08rem;
}
.tab-content p:nth-child(2){
    font-size:0.12rem;
    margin-top: 0.05rem;
}
