.musica{ overflow: scroll;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;}
.containers {
  width: 100%;
  height: 100%;
  background:none;
  position: relative;
}
.container_bg{z-index: 0; width: 100%;height: 240px; filter:blur(5px)}
.detail-header {
  width: 100%;
  height: 240px;
  overflow: hidden;
  z-index: 1;
  background:none;
  position: absolute;
  top: 0;
}

.detail-main {
  width: 100%;
  background-color: #fff;

}

.songlists-title {
  width: 3.2rem;
  margin: .2rem auto 0 ;
  padding:.2rem 0;
  overflow: hidden;
}

.songlists-avater {
  float: left;
  width: 1rem;
  height: 1rem;
  margin-right: .2rem;
}

.songlists-avater img {
  width: 100%;
  height: 100%;
}

.songlists-name {
  float: left;
  width: 2rem;
  font-size: .18rem;
  font-weight: bold;
  overflow: hidden;
  color: #fff;
}

.songlists-author {
  display:flex;
  width:1.5rem;
  margin-top: .2rem;
  overflow: hidden;
}

.author-avater {
  display: block;
  float: left;
  width: .25rem;
  height: .25rem;

  margin-right: .15rem;

}
.author-avater img {border-radius: 50%;}

.author-name {
  display: block;
  float: left;
  font-size: .14rem;
  font-weight: normal;
  height: .25rem;
  line-height: .25rem;
  vertical-align: middle;
}

.songlists-detail {
  width: 96%;
  padding: 2%;
  height: .4rem;
  text-indent: 2em;
  line-height: 160%;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #D2D2D2;

}



