
body{
  background: #efeff4;
  width: 100%;
  height: 100%;
}
.regTop{
  font-size: 20px;
  width: 100%;
  padding:8% 0 6%;
  background: #a7f91c;
  text-align: center;
  color: #ffffff;
  position: relative;
}
.back{
  position: absolute;
  left: 8%;
  top: 45%;
  color: #ffffff;
  font-size: 15px;
}
.point{
  padding: 6% 5%;
}
.content form input:not(:nth-child(6)){
  border: 0;
  border-bottom: 1px solid #c3c3c5;
}
.content form{
  width: 100%;
  height: 35.21%;
}
.message{
  background: #ffffff;
  padding:2% 5% 0 5%;
  position: relative;
}
.message input{
  width: 90%;
  padding: 4% 0 4% 10%;
  font-size: 0.875em;
  font-family: "Microsoft YaHei";
}
.message .icons b{
  position: absolute;
  width: 3.75%;
  height: 4%;
  top: 7%;
  left: 7%;
}
.message .icons b:nth-child(1){
  width: 5%;
  top: .2rem;
  left: .28rem;
}
.message .icons b:nth-child(2){
  width: 5%;
  top: .63rem;
  left: .28rem;
}
.message .icons b:nth-child(3){
  top: 1.06rem;
  left: .28rem;
}
.message .icons b:nth-child(4){
  top: 1.5rem;
  left: .28rem;
}
.message .icons b:nth-child(5){
  top: 1.96rem;
  left: .28rem;
}
.code{
  position: absolute;
  top: 1.96rem;
  right:10%;
  color: #21a9f5;
  font-size: 0.875em;
  font-family: "Microsoft YaHei";
}
select{
  width: 33%;
  padding: 2% 1%;
  margin: 5%;
  font-size: 1em;
  color: #909093;
  border: solid 1px #909093;
  font-family: "Microsoft YaHei";
}
.agree{
  margin: 6% 5%;
}
.submit{
  width: 84%;
  margin: 2% 8%;
  background: #f58c1a;
  color: #ffffff;
  border: 0;
  padding: 3.25% 0;
  font-size: 1em;
  font-family: "Microsoft YaHei";
}
form .agree input[type="checkbox"] :default{
  outline: 2px solid #21a9f5;
}
