.newmusic {
  width: 100%;
  margin-top: .6rem;
  background-color: #fff;
}

.newmusic-title {
  width: 100%;
  height: .3rem;
  line-height: .3rem;
  font-size: .2rem;
  padding: .2rem 0;
}

.newmusic-title span {
  border-left: 2px solid red;
  padding-left:.2rem;
}