.songBox .song-list h3{

    font-size: .16rem;
    color: #555555;
    line-height:  .23rem;
    height: .23rem;
    margin: 2% 0;

}
.songBox .song-list h3 i{
    border-left: 3px solid red; float: left; height: .23rem; margin-right: 3%;
}
.song-recommend{
    width: 100%;
    height: 3.5rem;
}
.list1{
    position: relative;
    width: 33%; float: left; margin: 0 0.1666% 4%;

}
.list1 img{
    width: 100%; height: 100%;float: left;
}
.song-recommend .list1 i{
    position: absolute;
    top: .03rem;
    font-size: .15rem;
    right: .05rem;
    height: .3rem;
    width:0.5rem;
    color: white;
}

.song-recommend .list1 span{
    position: absolute;
    font-size: .13rem;
    top: .03rem;
    right: .03rem;
    color: white;

}
.list1_item{
    float: left; height: 1.02rem;
}
.song-recommend .list1 .list-text{
    float: left; color: #555555;
    font-size: .15rem; padding: 0% 3%;
}

.list2{  position: relative; width: 49.5%; float: left; margin: 0 0.1666% 4%;}
.list2 img{
    width: 100%; height: 100%;float: left;
}
.list2_item{
    float: left; height: 1.02rem;
}
.song-recommends .list2 i{
    position: absolute;
    top: .03rem;
    font-size: .15rem;
    left: .05rem;
    height: .3rem;
    width:0.5rem;
    color: white;
}
.song-recommends .list2 .list-text{
    float: left; color: #555555;
    font-size: .15rem; padding: 0% 3%;
}
.song-recommends{
    width: 100%;
    height: 1.3rem;
}